@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    padding: 0px;
    font-family: 'Montserrat', sans-serif;
    background-color: #1a1a1a;
    color: white;
    overflow-y: hidden;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.tripplet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 250px;
}

.smallCharts{
    padding-left: 2.3%;
    padding-right: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-gap: 10px; /* Set the gap between grid cells */
}

.duet{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
}

.tempChart{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.humChart{
    width: 90%;
    height: 90%;
    margin: 0 auto;
}

.data-humidity{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

.data-temp{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

.data-rain{
    width: 80%;
    height: 90%;
    margin: 0 auto;
}

h1 {
   padding-left:17.5%;
}

li {
    list-style-type: none;
    padding: 2px 0px;
}

.average {
    text-align: center;
}